<div class="filter">
  <div class="filter-body">
    <h2 class="filter-body__headline">Filters:</h2>
    <div class="filter-body__filter">
      <app-select [items]="countryElem" (onSelectValue)="getSelectCountry($event)" [placeholder]="countryPlace"></app-select>
    </div>
    <div class="filter-body__filter">
      <app-select [items]="categoryElem" (onSelectValue)="getSelectCategory($event)" [placeholder]="categoryPlace"></app-select>
    </div>
  </div>
  <div class="filter__btn">
    <app-btn (click)="getClick()" text="Filter" id="filter-btn"></app-btn>
  </div>
</div>
