.btn {
  height: 48px;
  &__elem {
    width: 100%;
    height: 100%;
    background: var(--blue);
    color: var(--primary-light-const);
    outline: none;
    border: none;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    border-radius: 10px;

    &:hover {
      opacity: 0.8;
    }

    &_disable {
      background: var(--light-dark);

      &:hover {
        opacity: 1;
        cursor: inherit;
      }
    }
  }
}
