//vars
html {
  --reverse-primary: #EDF2F7;
  --primary-light: #0F172A;
  --primary-light-const: #EDF2F7;
  --blue: #4C6FFF;
  --light-dark: #334155;
  --grey-2: #EDF2F7;
  --back-dark: #FFFFFF;
  --gray: #96A7AF;
  --white: #17171B;
  --danger: #F16063;
  --success: #66CB9F;
  --green-dark: #EDF2F7;
  --yellow: #FFC542;
  --white-const: #FFFFFF;
  --green-1: #22C55E;
  --error-headline: #1C3177;
  --error-text: #657AB3;
  --circle-back: #EDF2F7;
  --toggle-night: #334155;
}
